services:
    web:
        build: ./packages/web
        container_name: web
        ports:
            - '8080:8080'
        environment:
            - API_URL=http://api:3000

    api:
        build: ./packages/api
        container_name: api
        ports:
            - '3000:3000'
        environment:
            - MONGO_URI=mongodb://mongodb:27017/polygons
        depends_on:
            - mongodb

    mongodb:
        image: mongo:latest
        ports:
            - '27017:27017'
        volumes:
            - mongodb_data:/data/db

volumes:
    mongodb_data:
